.container {
  display: flex;
  flex-direction: column;
  text-align: center;

  span {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  img {
    width: 20px;
  }
}

.skillList {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  flex-wrap: wrap;
  row-gap: 40px;
  max-width: 26ch;
}

hr {
  width: 100px;
  height: 1px;
  border: none;
  background-color: var(--text-color);
  margin: 30px auto;
}
.connect a{
    border-radius: 8px;
    line-height: 0;
    width: 35px;
    height: 35px;
    display:inline-flex;
    justify-content: center;
    align-items:center;
    margin: 0 8px;
    font-size: 36px;
    text-decoration: none;
    
  }
  .connect a {
    border: 0;
    outline: 0;
    border-radius: 320px;
    padding: 16px;
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 white;
    color:#61677C;
    box-shadow: -5px -5px 10px white,  5px 5px 10px #BABECC;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 700;
  }
  .connect a:hover {
    box-shadow: -2px -2px 5px white, 2px 2px 5px #BABECC;
  }
  .connect a:active {
    box-shadow: inset 2px 2px 2px #BABECC, inset -2px -2px 2px white;
  }


@media (width >= 800px) {
  .skillList {
    max-width: 850px;
    gap: 40px;

    p {
      font-size: 20px;
    }
  }

  hr {
    width: 300px;
  }
}